<!doctype html>
<html>
<head>
    <title>Project Miniverse!</title>
</head>
<body>

    <div id="projectMiniverseLogo"> Project Miniverse Logo </div>
    <br />
<div id="navBar">

        <a href="/" class="navigation" id="main">MAIN</a>
        
        <a href="/explore" class="navigation" id="search">EXPLORE</a>

        {% if "user_id" in session %}
            <a href="/dashboard/{{ session['user_id'] }}" class="navigation" id="dashboard">YOUR DASHBOARD</a>
        {% else %}

        {% endif %}

        <a href="/about" class="navigation" id="about">ABOUT US</a>

        {% if "user_id" in session %}
            <a href="/logout">LOGOUT</a>
        {% else %}
            <a href="/login">SIGN IN / REGISTER</a>
        {% endif %}

</div>



<!-- snazzy horizontal line -->
<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
<br />

{% block content %}
    Body of page.
{% endblock %}


</body>
</html>