<!doctype html>
<html>
<head>
    <title>Project Miniverse!</title>
</head>
<body>

    <div id="projectMiniverseLogo"> Project Miniverse Logo </div>
    <br />
<div id="navBar"
        <a href="/explore" class="navigation" id="search">EXPLORE</a>

        <a href="/" class="navigation" id="main">MAIN</a>

        <a href="/dashboard" class="navigation" id="dashboard">YOUR DASHBOARD</a>

        <a href="/about" class="navigation" id="about">ABOUT PROJECT MINIVERSE</a>


        <a href="/login" class="navigation" id="signIn">SIGN IN / REGISTER</a>
</div>


{% block content %}
    Body of page.
{% endblock %}


</body>
</html>