{% extends 'base.html' %}
{% block content %}

<h3>Explore the Miniverse!</h3>

<div id="explore-form">
    <form action="/explore" method="POST">
        Search through the titles of 3D models in Project Miniverse:
        <br />
        <div class="small-words">(one word searches will return the best results)</div>
        <br />
        <input type="text" name="explore-input"
        id="explore-input">
        <br /><br />
        <input type="submit" value="Onwards!">
    </form>
</div>
<br />
These are your results for the search of "{{ explore_input }}":
<div id="printed-results">
    {% for result in results %}
      <li>
        <a href = "/model_3d_page/{{ result.model_3d_id }}">{{ result.title }}</a>
      </li>
    {% endfor %}
</div>
{% endblock %}