{% extends 'base.html' %}
{% block nav %}

        <li><a href="/"> MAIN </a></li>
        <li class="active"><a href="/explore"> EXPLORE </a></li>
        <li><a href="/about"> ABOUT US </a></li>

        {% if "user_id" in session %}
        <li><a href="/dashboard/{{ session['user_id'] }}" class="navigation" id="dashboard">YOUR DASHBOARD</a></li>
        {% else %}

        {% endif %}

{% endblock %}
{% block content %}

<div class="medium-header centered">
    Explore the Miniverse!
</div>

<div>
<div class="row">
  <div class="col-xs-2"> </div>
  <div class="col-xs-8"> 

    <form class="search-form" action="/explore" method="POST">
        <span class="regular-text">
            Search through the titles of 3D models in Project Miniverse:
        </span>
            <br />
        <span class="small-text">
            (One word searches reccomended. To show all 3D models on the site omit search criteria.)
        </span>
            <br /><br />
            &nbsp; &nbsp; 
        <span>
        <input type="text" name="explore-input" id="explore-input-field">
        </span>
            <br /><br />
        <span> &nbsp; &nbsp;
            <button type="submit" class="btn">Onwards!</button>
        </span>
    </form>

<br />

    <span class="regular-text">
        These are your results for the search of "{{ explore_input }}":
        {% for result in results %}
          <li>
            {% if result.user_images %}
            <span class="glyphicon glyphicon-star-empty color-white" aria-hidden="true"></span>
            <img src= "static/uploaded/images/{{ result.user_images[0].filepath_img }}" height="50em" alt="search_thumbnail">

            {% else %}
            No image available
            {% endif %}

            <a href = "/model_3d_page/{{ result.model_3d_id }}">{{ result.title }}</a>
            <br /><br />
          </li>
        {% endfor %}
    </span>

  </div>
  <div class="col-xs-2"> </div>
</div>
</div>
<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
<!--<script>
// function initiateExplore(evt) {
//     evt.preventDefault();

//     var formInputs = {
//         "explore_input": $("#explore-input-field").val()
//     };

//     $.post("/explore-results.json", formInputs);
// }
</script>-->

{% endblock %}