{% extends 'base.html' %}
{% block nav %}

        <li class="active"><a href="/"> MAIN </a></li>
        <li><a href="/explore"> EXPLORE </a></li>
        <li><a href="/about"> ABOUT US </a></li>

        {% if "user_id" in session %}
        <li><a href="/dashboard/{{ session['user_id'] }}" class="navigation" id="dashboard">YOUR DASHBOARD</a></li>
        {% else %}

        {% endif %}

{% endblock %}
{% block content %}

<div class="big-header centered">Welcome to Project Miniverse!</div>
<div class="regular-text centered">A place to share low resolution 3D printable 3D models</div>
<br />

<div class="row">
  <div></div>

<script src="static/js/three.js"></script>
<script src="static/js/STLLoader.js"></script>
<script src="static/js/Detector.js"></script>
<script src="static/js/OrbitControls.js"></script>
<script src="static/js/threejs_stl.js"></script>
<script>
function loginAlert() {
    alert("Login to the test account! Username: 'bb8@starzz.com' Password 'bb8'. If you create your own account please don't use a personal password, they will not be hashed/secure in the database.")
}
</script>

  <div></div>
</div>
<div class="small-text centered">Use your mouse to move around the 3D model.</div>

{% endblock %}