{% extends 'base.html' %}
{% block content %}

<div class="big-header centered">Welcome to Project Miniverse!</div>
<div class="regular-text centered">A place to share low resolution 3D printable 3D models</div>
<br />


<div class="row">
  <div></div>

<script src="static/js/three.js"></script>
<script src="static/js/STLLoader.js"></script>
<script src="static/js/Detector.js"></script>
<script src="static/js/OrbitControls.js"></script>
<script src="static/js/threejs_stl.js"></script>


  <div></div>
</div>
<div class="small-text centered">Use your mouse to move around the 3D model.</div>

{% endblock %}