{% extends 'base.html' %}

{% block content %}


<h3>Title: {{ model3d.title }}</h3>

This 3D model was uploaded by {{ model3d.user.username }}
<br /><br />
Is this file downloadable? {{ model3d.downloadable}}
<br /><br />
user id: {{ model3d.user.user_id }} {{ current_user }}

{% if model3d.downloadable %}
    <p>
    IF DOWNLOADABLE!!!!!
    Download Link: <a href="/uploaded/stl_files/{{ model3d.filepath_3d }}" download>{{ model3d.title }}</a>
    </p>
{% endif %}

{% if current_user == model3d.user.user_id %}
<br /><br />
IF USER THAT OWNS FILE IN SESSION!!!!
Download Link: <a href="/uploaded/stl_files/{{ model3d.filepath_3d }}" download>{{ model3d.title }}</a>

{% endif %}




{% endblock %}