{% extends 'base.html' %}
{% block content %}

<div class="row">

    <div class="col-xs-6 centered"> 
        <span class="medium-header">
        Title: {{ model3d.title }}
        </span>
        <br />
        <span class="regular-text">
        This 3D model was uploaded by <a href = "/dashboard/{{ model3d.user_id }}"> {{ model3d.user.username }} </a>
        </span>
        <br />
        <!-- Is this file downloadable? {{ model3d.downloadable }} -->

        {% if model3d.downloadable or session.get('user_id') == model3d.user_id %}
            <span class="regular-text">
            Download Link: <a href="/uploaded/stl_files/{{ model3d.filepath_3d }}" download>{{ model3d.title }}
            </a>
            </span>
        {% endif %}
    </div>

    <div class="col-xs-6 picture">
        {% if img %}
            <img id="model-page-img" src='/static/uploaded/images/{{ img.filepath_img }}' alt='3d_image' class="picture">
        {% else %}
        <br />
        {% endif %}

        {% if session.get('user_id') == model3d.user.user_id %}
            <br />
    

    {% if img %}
        <br />
    {% else %}
        Upload a photo or rendering of your 3D model:
        <form method="POST" enctype="multipart/form-data" id="img-upload-form">
            <input type="file" name="img" id="img">
            <button id="upload-img-button" type="submit">Upload Image</button>
        </form>
    {% endif %}
{% endif %}
    <br />
    </div>
        </div>
</div> <!-- end container -->


<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
<div class="3d-visual">
<script src="/static/js/three.js"></script>
<script src="/static/js/STLLoader.js"></script>
<script src="/static/js/Detector.js"></script>
<script src="/static/js/OrbitControls.js"></script>

<script>
// Some of this code is originally from STL loader test by aleeper https://github.com/aleeper
if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

var container;

var camera, cameraTarget, scene, renderer;

init();
animate();

var width = window.innerWidth;
var height = window.innerHeight;

function init() {

    // must assign window. inner__ to variables or else can't later divide size
    var width = window.innerWidth;
    var height = window.innerHeight;

    container = document.createElement( 'div' );
    document.body.appendChild( container );

    camera = new THREE.PerspectiveCamera( 40, width / height, 1, 15 );
    camera.position.set( 2, 0.15, 3 );

    cameraTarget = new THREE.Vector3( 0, -0.05, 0 );

    scene = new THREE.Scene();
    scene.fog = new THREE.Fog( 0xb3ddf9, 1, 15 );


    // Ground

    var plane = new THREE.Mesh(
        new THREE.PlaneBufferGeometry( 40, 40 ),
        new THREE.MeshPhongMaterial( { color: 0xdef0fc, specular: 0x101010 } )
    );
    plane.rotation.x = -Math.PI/2;
    plane.position.y = -0.5;
    scene.add( plane );

    plane.receiveShadow = true;


    var loader = new THREE.STLLoader();


    // Load STL file
    var material = new THREE.MeshPhongMaterial( { color: 0x7a8699, specular: 0x111111, shininess: 200 } );

    var page3dmodel = "{{ model3d.filepath_3d }}"
    loader.load( "/uploaded/stl_files/" + String(page3dmodel), function ( geometry ) {

        var mesh = new THREE.Mesh( geometry, material );

        mesh.position.set( 0, - 0.37, - 0.6 );
        mesh.rotation.set( - Math.PI / 2, 0, 0 );
        mesh.scale.set( 0.8, 0.8, 0.8 );

        mesh.castShadow = false;
        mesh.receiveShadow = true;

        scene.add( mesh );
    } );


    // Lights
    scene.add( new THREE.HemisphereLight( 0x443333, 0x111122 ) );

    addShadowedLight( 1, 1, 1, 0xffffff, 1 );
    addShadowedLight( 0.5, 1, -1, 0xe0e9f9, 0.6 );

    // renderer

    renderer = new THREE.WebGLRenderer( { antialias: true } );
    renderer.setClearColor( scene.fog.color );
    renderer.setPixelRatio( window.devicePixelRatio );
    renderer.setSize( width/2.5, height/2.5);

    renderer.gammaInput = true;
    renderer.gammaOutput = true;

    renderer.shadowMap.enabled = true;
    renderer.shadowMap.renderReverseSided = false;

    container.appendChild( renderer.domElement );


    window.addEventListener( 'resize', onWindowResize, false );

    // Adds orbit controls
    controls = new THREE.OrbitControls(camera, renderer.domElement);
}

function addShadowedLight( x, y, z, color, intensity ) {

    var directionalLight = new THREE.DirectionalLight( color, intensity );
    directionalLight.position.set( x, y, z );
    scene.add( directionalLight );

    directionalLight.castShadow = true;

    var d = 1;
    directionalLight.shadow.camera.left = -d;
    directionalLight.shadow.camera.right = d;
    directionalLight.shadow.camera.top = d;
    directionalLight.shadow.camera.bottom = -d;

    directionalLight.shadow.camera.near = 1;
    directionalLight.shadow.camera.far = 4;

    directionalLight.shadow.mapSize.width = 1024;
    directionalLight.shadow.mapSize.height = 1024;

    directionalLight.shadow.bias = -0.005;
}

function onWindowResize() {

    camera.aspect = width / height;
    camera.updateProjectionMatrix();

    renderer.setSize( width/2, height/2 );
}

function animate() {

    requestAnimationFrame( animate );
    render();
    // stats.update();
}

function render() {
    // Makes the model(s) spin slower or faster, optional
        var timer = Date.now() * 0.0005;
        // Distance from objects
        camera.position.x = Math.cos( timer ) * 2;
        camera.position.z = Math.sin( timer ) * 2;

    camera.lookAt( cameraTarget );

    renderer.render( scene, camera );

    controls.update();
}

</script>
<div class="small-text centered">Use your mouse to move around the 3D model.</div>



{% endblock %}