{% extends 'base.html' %}

{% block content %}


<div class="medium-header centered">You've Downloaded a model with the following information:</div>

<div class="row centered regular-text">
    <div class="col-xs-2"> </div>
    <div class="col-xs-8">

<p>
Title: {{ title }}
<br /><br />
Download Link: <a href="uploaded/stl_files/{{ stl }}" download>{{ stl }}</a>
</p>

Go to your <a href="/dashboard/{{ user.user_id }}"> dashboard to select each 3D model's page

{% if (downloadable or "user_id" in session) %}

{% endif %}
    
    </div>
    <div class="col-xs-2"> </div>
</div>



{% endblock %}