{% extends 'base.html' %}
{% block content %}

<h2>{{  user.username }}'s Dashboard</h2>

    {% if "user_id" in session %}
<div>
        <h3>Upload a 3D model in STL format here:</h3>

        <a href="/upload_file_stl" id="upload_page">Upload Your STL</a>
</div>


<h3 id="user3dmodels">{{ user.username }}'s 3D models:</h3> <!-- ajax dropdown? -->
<p>
    <ul>
    {% for model_3d in user.models_3d %}
      <li>
<!--         model_3d.user_images {{model_3d.user_images}} -->
        {% if model_3d.user_images %}
        <img src= "/static/uploaded/images/{{ model_3d.user_images.0.filepath_img }}" height="75em" alt="3d_thumbnail">
        {% else %}
        <p>No image available</p>
        {% endif %}
        <br />
        <a href="/model_3d_page/{{ model_3d.model_3d_id }}">{{ model_3d.title }}</a>
        <br /><br />
      </li>
    {% endfor %}
    </ul>
</p>

    {% endif %}

{% endblock %}