{% extends 'base.html' %}
{% block content %}

<div class="medium-header">{{  user.username }}'s Dashboard</div>

    {% if "user_id" in session %}
<div class="regular-text">

        <h2><a href="/upload_file_stl" id="upload_page">Upload a 3D model in STL format <u>here</u></a></h2>
</div>
<br />

<div  class="regular-text">{{ user.username }}'s 3D models:</div>
<br />
    <ul>
    {% for model_3d in user.models_3d %}
      <li>
<!--         model_3d.user_images {{model_3d.user_images}} -->
        {% if model_3d.user_images %}
        <img src= "/static/uploaded/images/{{ model_3d.user_images.0.filepath_img }}" height="75em" alt="3d_thumbnail">
        {% else %}
        <p>No image available</p>
        {% endif %}
        <br />
        <div class="padding-tiny-up"><a href="/model_3d_page/{{ model_3d.model_3d_id }}">{{ model_3d.title }}</a></div>
        <br />
      </li>
    {% endfor %}
    </ul>

    {% endif %}

{% endblock %}